#galleria
{
    max-width:100%;
    background:#fff;
}

#galleria img
{
    border: 0 !important;
    background: none;
}

.galleria-theme-classic .galleria-stage {
    position: absolute;
    top: 0px;
    bottom: 60px;
    left: 0px;
    right: 0px;
}
